<?xml version="1.0"?>
<robot name="myrobot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find myrobot_description)/urdf/myrobot.xacro" />
  <xacro:include filename="$(find myrobot_description)/urdf/myrobot.ros2_control.xacro" />


  <xacro:myrobot_ros2_control name="myrobot_ros2_control" />
</robot>
